# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
    <li> python
    <li> R
    <li> SQL
        
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li> Pandas
    <li> Matplotlib
    <li> Scipy
        
</ol>

| Data Science Tools |
| --- |
| Jupyter notebook |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectrives:__
* List popular languages for Data Science
* Data Science Tools
* Data Science Tools and Ecosystem

## Author 
Ali Zoljodi